name: Go Build
on:
  push:
    branches: 
      - 'main'
      - 'master'
      - 'releases/v*'
    paths-ignore:
      - 'docs/**'
      - 'README.md'
    # paths-ignore is ignored for tags
    tags: [ 'v*' ]
  workflow_dispatch:
    inputs:
      ref:
        description: 'Git ref to build (e.g., v1.0.0)'
        required: false
        default: ''
        type: string

permissions:
  contents: write
  packages: write

jobs: 
  build-and-publish:
    uses: jimschubert/.workflows/.github/workflows/go-build-goreleaser.yml@main
    with:
      go-version-file: go.mod
      golangci-lint-version: v2.7.2
      changelog-config:  .github/changelog.yml
    secrets: inherit
